<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px" fxLayout.sm="column" fxLayout.xs="column">
  <div style="background-color: gray;" fxFlex="80" class="about">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Sint impedit nostrum aperiam, accusantium nobis corrupti hic ratione doloremque numquam cupiditate dolor, voluptatum vitae eos accusamus vel exercitationem adipisci quod vero.</p>
  </div>
  <div style="background-color: gray;" fxFlex="20" class="about">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
       Dolorem dolor porro aut provident, iste rem dolore distinctio molestiae rerum quod commodi? Numquam obcaecati unde eum quis nobis doloremque quo atque.</p>
  </div>
</div>
  <h2>Our Services</h2>

  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" fxLayout.lt-md="column" >
    <div style="background-color: mediumslateblue;" fxFlex="50">
      <h3>laboratory</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi tempora, molestias iste nisi, laboriosam reprehenderit praesentium minus doloremque magnam veniam aperiam magni accusamus odit atque ipsa adipisci doloribus hic. Commodi.</p>
    </div>
    <div style="background-color: rgb(28, 248, 8);" fxFlex="50" fxHide.xs>
      <h3>Consultation</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, praesentium, sequi dolores repudiandae voluptatem reprehenderit ad alias possimus voluptates necessitatibus, assumenda asperiores cumque minus quas commodi aperiam esse dicta labore.</p>
    </div>
    <div style="background-color: rgb(230, 161, 13);" fxFlex="50">
      <h3>Pharmacy</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nam nulla odit? Natus, fuga praesentium? Ullam culpa voluptatum libero, hic ratione itaque magni voluptatem deserunt quae cumque similique nobis distinctio.</p>
    </div>

  </div>
  <h2>Our Team</h2>

  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" fxLayout.lt-md="column">
    <div fxFlex="25">
      <h4>John Doe</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, aliquid. Earum, impedit enim recusandae provident autem eius eos nesciunt aperiam ad nostrum consequatur sapiente, eveniet vitae cumque facilis, rerum natus!
      </p>
    </div>
    <div fxFlex="25">
      <h4>John Doe</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, aliquid. Earum, impedit enim recusandae provident autem eius eos nesciunt aperiam ad nostrum consequatur sapiente, eveniet vitae cumque facilis, rerum natus!
      </p>
    </div>
    <div fxFlex="25">
      <h4>John Doe</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, aliquid. Earum, impedit enim recusandae provident autem eius eos nesciunt aperiam ad nostrum consequatur sapiente, eveniet vitae cumque facilis, rerum natus!
      </p>
    </div>
    <div fxFlex="25">
      <h4>John Doe</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, aliquid. Earum, impedit enim recusandae provident autem eius eos nesciunt aperiam ad nostrum consequatur sapiente, eveniet vitae cumque facilis, rerum natus!
      </p>
    </div>

  </div>
  <h2>Talk To Us</h2>
  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" fxLayout.lt-md="column">
    <div fxFlex="100" style="background-color: orange;">
      <h2>Customer Care</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dignissimos dolore sint labore, harum illum fuga delectus vero quaerat perferendis et ex?
        Praesentium, ut eligendi delectus ipsa fuga maiores incidunt!</p>

    </div>

  </div>
  <h2>Our Partners</h2>
  <!-- use color -->
  <!-- create a 5 column for partners i.e Britam, UON-->
  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" fxLayout.lt-md="column">
    <div style="background-color: mediumslateblue;" fxFlex="20">
      <h4>Britam</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora architecto expedita quod itaque eius.
        Dolor similique aliquid enim voluptates delectus qui nobis quasi, nisi aspernatur eveniet atque perferendis ad ut.</p>
    </div>

      <div style="background-color: salmon;" fxFlex="20">
        <h4>Safaricom</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Iusto atque distinctio possimus rerum reiciendis sit at dolor, laborum corrupti, nostrum reprehenderit explicabo quis ea ullam aperiam, odio omnis. Reiciendis, quis.</p>
      </div>


      <div style="background-color: mediumslateblue;" fxFlex="20">
        <h4>Airtel</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
           Illum exercitationem repellat error aperiam aliquid cupiditate assumenda fuga earum culpa impedit, dolorem obcaecati laborum dignissimos fugiat vel voluptates ipsam sed porro.</p>
      </div>

      <div style="background-color: turquoise;" fxFlex="20">
        <h4>University of Nairobi</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Saepe recusandae obcaecati rem, illo nobis, quisquam, rerum quibusdam praesentium quas quos voluptates ullam ducimus fugiat itaque tempore totam ab magnam hic?</p>
      </div>

      <div style="background-color: yellow;" fxFlex="20">
        <h4>Jubilee Insurance</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Maxime consequuntur ipsa, architecto doloribus praesentium aspernatur et id voluptatibus ipsam odio modi possimus.
          Eius nihil qui sapiente et, placeat quae debitis?</p>

      </div>

  </div>
  <h2>Branches</h2>
  <!-- Create a 3 unequal divs for Branches 50,25,25 -->


  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" fxLayout.lt-md="column">
    <div style="background-color: teal;" fxFlex="50">
      <h4>Nairobi</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum unde blanditiis id error temporibus, nam pariatur est harum doloremque culpa sit architecto sunt non ex ab nihil tenetur! Illo, sapiente.</p>
    </div>
    <div style="background-color: turquoise;" fxFlex="25">
      <h4>Nakuru</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ullam explicabo minus iure consequatur aliquam! Aliquid, quibusdam recusandae! Itaque, tempora consequatur obcaecati minima corporis quod, a, ipsam nostrum ratione dolorum adipisci.</p>
    </div >
    <div style="background-color: slategray;" fxFlex="25">
      <h4>Hurlingum</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse voluptatibus officia minus modi neque consequatur corporis iusto sapiente sit.
         Praesentium veritatis dolores quod modi animi, cupiditate voluptatibus assumenda dolorem culpa!</p>
    </div>

  </div>
  <!-- creating GRID With CSS flex responsive -->
  <h3>Testimonials</h3>
  <div  class="row">
    <div class="column" style="background-color: #aaa;">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus cupiditate nemo praesentium totam, corporis labore omnis animi sequi quidem ipsum delectus incidunt nam nihil veniam laudantium doloremque, soluta neque ut.</p>
    </div>
    <div class="column" style="background-color: #bbb;">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus cupiditate nemo praesentium totam, corporis labore omnis animi sequi quidem ipsum delectus incidunt nam nihil veniam laudantium doloremque, soluta neque ut.</p>
    </div>
    <div class="column" style="background-color: #ccc;">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus cupiditate nemo praesentium totam, corporis labore omnis animi sequi quidem ipsum delectus incidunt nam nihil veniam laudantium doloremque, soluta neque ut.</p>
    </div>
    <div class="column" style="background-color: #ddd;">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus cupiditate nemo praesentium totam, corporis labore omnis animi sequi quidem ipsum delectus incidunt nam nihil veniam laudantium doloremque, soluta neque ut.</p>
    </div>

  </div>
  <h3>Latest News</h3>
  <div class="row">
    <div class="colm-left" style="background-color: rosybrown;">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque asperiores doloribus delectus nisi, quisquam enim facilis, explicabo repellat aliquid est obcaecati rem tempore possimus iure! Accusamus dignissimos aliquam a praesentium!</p>
    </div>
    <div class="colm-center" style="background-color: rgb(134, 241, 91);">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque asperiores doloribus delectus nisi, quisquam enim facilis, explicabo repellat aliquid est obcaecati rem tempore possimus iure! Accusamus dignissimos aliquam a praesentium!</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque asperiores doloribus delectus nisi, quisquam enim facilis, explicabo repellat aliquid est obcaecati rem tempore possimus iure! Accusamus dignissimos aliquam a praesentium!</p>
    </div>
    <div class="colm-right" style="background-color: rgb(12, 16, 241);">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque asperiores doloribus delectus nisi, quisquam enim facilis, explicabo repellat aliquid est obcaecati rem tempore possimus iure! Accusamus dignissimos aliquam a praesentium!</p>
    </div>
  </div>
   <!-- do a 4 div footer social, subscribe, about,fAQ -->
  <!-- do a one div for copyright info, developer -->
  <h2>Footer</h2>
  <footer fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" fxLayout.lt-md="column">
    <div style="background-color: thistle;" fxFlex="25">
      <h2>Social</h2>
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
      </ul>

    </div>
    <div  style="background-color: thistle;" fxFlex="25">
      <h2>Subscribe</h2>

    </div>
    <div  style="background-color: thistle;" fxFlex="25">
      <h2>About</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum nemo accusantium quia sapiente. Assumenda nisi aliquid vero sit similique deserunt, rerum ut doloribus impedit error officiis sequi quia. Laboriosam, quo.</p>

    </div>
    <div  style="background-color: thistle;" fxFlex="25">
      <h2>fAQ</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci illo possimus quis velit ullam facilis dolorem sequi deserunt ea obcaecati fugiat fuga quos fugit atque, a praesentium, non unde sunt?</p>
    </div>

  </footer>

  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" fxLayout.lt-md="column">
    <div style="background-color: black;" fxFlex="100">
      <h2 style="color: white; text-align: center;">Copyright 2021 Developed by Shirllie</h2>

    </div>

  </div>




